.navbar {


  &__title {
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: #000000;
    padding: 10px 0;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
  }

  &__logo {
    font-size: 30px;
    margin-left: 50px;

    &_span {
      color: #818181;
      font-size: 20px;
      margin-left: 5px;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    align-items: center;
  }

  &__links {
  display: flex;
}

  &__link {
    padding: 5px 10px;
    color: #000000;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    line-height: 1.25;
    border: none;
    font-family: "Roboto Slab", serif;
    font-weight: 600;
    background-color: #ffffff;

    &:hover {
      transform: scale(1.1);
    }
  }
}


.navbar__img {
  width: calc(100% / 7);
}