@import '../../styles/mixins-media.scss';

.navbar {

  &__title {
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: #000000;
    padding: 10px 0;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
  }

  &__logo {
    font-size: 30px;
    margin-left: 100px;

    @include xs {
      font-size: 26px;
    }

    @include xx {
      font-size: 24px;
    }

    &_span {
      color: #818181;
      font-size: 20px;
      margin-left: 5px;

      @include xs {
        font-size: 16px;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    align-items: center;

    @include xs {
      gap: 10px;
      padding: 15px;
    }

    @include xx {
      gap: 0;
      padding: 5px;
    }

  }

  &__links {
    display: flex;
  }

  &__link {
    padding: 5px 10px;
    color: #000000;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    line-height: 1.25;
    border: none;
    font-family: "Roboto Slab", serif;
    font-weight: 600;
    background-color: #ffffff;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__photos {
    @include lg {
      display: none;
    }
  }
}

.navbar__img {
  width: calc(100% / 7);
}