@import '../../styles/mixins-media';

.posts {

  &__container {
    width: min(100% - 40px, 1340px);
    margin-inline: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    min-height: calc(100vh - 651px);
  }

  &__title {
    text-align: center;
    font-size: 2rem;
    font-family: "Roboto Slab", serif;
    background-color: black;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    letter-spacing: 5px;

    @include sm {
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 24px;
    }
  }

  &__content {
    display: flex;
    gap: 30px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    position: sticky;
    gap: 20px;
    top: 180px;
    bottom: 0;
    height: 100vh;
    margin-top: 205px;

    @include lg {
      margin-top: 0;
    }

    &_link {
      font-family: "Roboto Slab", serif;
      font-size: 18px;
      width: 100%;
      background-color: #0000002e;
      color: #000000;
      cursor: pointer;
      border: none;
      min-height: 60px;
      padding: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: #ababab;
        transform: translateY(-2px);
      }
    }
  }

  &__actions {
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
    justify-content: center;

    &_btn {
      padding: 10px 20px;
      border: none;
      background-color: #000000;
      font-family: "Roboto Slab", serif;
      color: #ffffff;
      font-size: 16px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: #4b4b4b;
        transform: translateY(-2px);
      }
    }
  }
}

.post {
  &__list {
    list-style-type: none;
    padding: 0;
  }

  &__item {
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    background-color: #e3e3e38f;
  }

  &__title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  &__description {
    font-size: 16px;
    margin-bottom: 10px;
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__actions {
    display: flex;
    gap: 50px;
    justify-content: space-around;
    margin-top: 15px;
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 10px;
    border: none;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #000000;

    &:hover {
      background-color: #4b4b4b;
      transform: translateY(-2px);
    }
  }
}

.button_prev {
  position: fixed;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
  display: none;
  z-index: 1000;
  padding: 10px 10px;
  color: #ffffff;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  background-color: #000000;
  border: 2px solid white;

  &:hover {
    background-color: #4b4b4b;
    transform: translateY(-2px);
  }

  &.show {
    display: block;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;

  &__btn {
    padding: 5px 11px;
    font-family: "Roboto Slab", serif;
    border: none;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 15px;
  }

  &__btn:hover {
    background-color: #858585;
    transform: translateY(-2px);
  }

  &__btn:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
  }

  &__btn.active {
    background-color: rgba(117, 115, 115, 0.76);
    color: black;
  }
}

.burger {
  width: 40px;
  height: 24px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border: none;
  background: none;
  transition: all 0.3s ease;
  top: 70px;
  left: 30px;

  @include xs {
    top: 65px;
  }

  @include xx {
    top: 56px;
  }
}

.burger__line {
  width: 100%;
  height: 3px;
  background-color: #333;
  border-radius: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.burger__line {
  background-color: #000;
}