@import '../../styles/_mixins-media.scss';

.cart {

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__items {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
  }

  &__image {
    width: 40%;
    object-fit: contain;
  }

  &__butons {
    display: flex;
    padding-bottom: 10px;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
  }

  &__change {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 20px;
    height: 20px;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: #000000;

    &:hover {
      background-color: #646464;
      transform: translateY(-2px);
    }

  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 6px 6px;
    border: none;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: #000000;

    &:hover {
      background-color: #646464;
      transform: translateY(-2px);
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;

      &:hover {
        background-color: #000000;
        transform: translateY(0);
      }
    }
  }

  &__count {
    position: absolute;
    top: -5px;
    right: -2px;
    background-color: red; /* Цвет фона индикатора */
    color: white; /* Цвет текста индикатора */
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px; /* Размер шрифта индикатора */
    font-weight: bold;
    text-align: center;

    @include lg {
      top: -4px;
      right: 0;
    }


  }

}

.product {

  &__list {
    border-bottom: 2px solid rgba(173, 173, 173, 0.78);
  }

  &__items {
    display: grid;
    grid-template-columns: 17% 39% 12% 10% 16%;
    grid-template-rows: 1fr 1fr;
    gap: 0 5px;
    grid-template-areas:
    "image name price quantity sum"
    "image name-map price-map quantity-map sum-map";
    align-items: center;
    width: 100%;
    font-size: 14px;
  }

  &__image {
    grid-area: image;
    width: 100%;
    height: 100%;
  }

  &__name {
    grid-area: name;
    font-weight: 900;

    &_map {
      grid-area: name-map;
    }
  }

  &__price {
    grid-area: price;
    font-weight: 900;

    &_map {
      grid-area: price-map;
    }
  }

  &__quantity {
    grid-area: quantity;
    font-weight: 900;

    &_map {
      grid-area: quantity-map;
      width: 30%;
      padding-left: 10px;
    }
  }

  &__sum {
    grid-area: sum;
    font-weight: 900;

    &_map {
      grid-area: sum-map;
    }
  }
}
