
$container-primary: 1440px;
$container-sm: 306px;
$gap: 20px;
$gap-sm: 10px;
$gap-lg: 40px;

$table: 968px;

$ul: 1440px;
$xl: 1200px;
$lg: 992px;
$gg: 875px;
$md: 768px;
$sm: 576px;
$xs: 480px;
$xx: 420px;
$ux: 360px;
$rr: 375px;

