* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    font-family: "Roboto Slab", serif;
    font-weight: 600;
    font-style: normal;
    overflow-y: scroll;
}

button {
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #3498db;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation: fadeIn 2s;
}

.container {
    width: min(100% - 40px, 1340px);
    margin-inline: auto;
}

.error {
    text-align: center;
    margin: 40px 0;
}

/* loading */
.loading {
    font-size: 3rem;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: loading 1s infinite;
}

@keyframes loading {
    0% {
        color: #3498db;
    }
    50% {
        color: #9b59b6;
    }
    100% {
        color: #3498db;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.content {
    animation: fadeIn 2s;
}

/* navbar */


/* products-empty */
.products-empty {
    text-align: center;
    font-size: 2rem;
}

/* products-filter */
.products-filter {
    display: grid;
    grid-template-columns: 1fr 200px 150px 40px;
    gap: 20px;
    background: linear-gradient(135deg, #3498db, #9b59b6);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    justify-content: center;
}

.products-filter button,
.products-filter input,
.products-filter select {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.products-filter button {
    align-self: flex-end;
}

.products-filter button > * {
    scale: 1.5;
    translate: 0 2px;
}

.products-filter button:hover,
.products-filter button:focus,
.products-filter input:hover,
.products-filter input:focus,
.products-filter select:hover,
.products-filter select:focus {
    transform: scale(1.05);
}

.products-filter input::placeholder {
    color: #888888;
}


.box {
    display: flex;
    gap: 50px;
}

.filters-menu {
    width: 30%;
    background-color: cornflowerblue;
}

.price-filter {
    margin-top: 10px;
}

.price-filter input {
    margin-right: 10px;
}

/* products-list */
.products-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 20px;
    margin-bottom: 50px;
    justify-items: center;
}

/* product-item */
.product-item {
    display: grid;
    grid-template-areas:
      "img"
      "ttl"
      "cat"
      "prc"
      "dsc";
    grid-template-rows: auto 1fr auto auto auto;
    gap: 10px;
    padding: 20px;
    border-radius: 7px;
    background: linear-gradient(to right, #f2f2f2, #ffffff);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    user-select: none;
}

.product-item:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

.product-item__title {
    grid-area: ttl;
    font-weight: bold;
    text-align: center;
    color: #333333;
    font-size: 1.25rem;
}

.product-item__description {
    grid-area: dsc;
    color: #666666;
}

.product-item__category {
    grid-area: cat;
    font-size: 0.9em;
    color: #777777;
    text-align: center;
    font-style: italic;
}

.product-item__price {
    grid-area: prc;
    color: #e67e22;
    font-weight: bold;
    text-align: center;
}

.product-item__image {
    width: 100%;
    height: 200px;
    grid-area: img;
    object-fit: cover;
}

.product-item__actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.product-item__delete,
.product-item__edit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-item__buy, .product-item__add-to-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #e74c3c;
}

.product-item__add-to-cart:hover, .product-item__buy:hover {
    background-color: #c0392b;
    transform: translateY(-2px);
}

.product-item__delete {
    background-color: #e74c3c;
}

.product-item__delete:hover {
    background-color: #c0392b;
    transform: translateY(-2px);
}

.product-item__edit {
    background-color: #3498db;
}

.product-item__edit:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
}

/* buttons-group */
.buttons-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.add-product-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.add-product-btn:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
}



/* modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 0.5s;
}

.modal {
    background: white;
    padding: 40px;
    border-radius: 4px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    animation: fadeIn 0.5s;
}

.modal__close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 20px;
    color: #888888;
    cursor: pointer;
}

.modal__title {
    font-size: 2rem;
    color: #3498db;
    text-align: center;
    margin-bottom: 20px;
}

/* form */
form {
    display: grid;
    gap: 20px;
    background: linear-gradient(135deg, #3498db, #9b59b6);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.buy-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: linear-gradient(135deg, #3498db, #9b59b6);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-label {
    color: #ffffff;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.form-control {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
    resize: vertical;
   background-color:  #eeeeee8a;
}

.form-control:hover,
.form-control:focus {
  outline: none;
}

.form-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #3498db;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-button:hover {
    background-color: #f8f8f8;
    transform: translateY(-2px);
}


.buy-form-container {
    position: relative;
}

.buy-form-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}
.basket-icon {
    position: relative;
    font-size: 24px; /* Настройте размер иконки по вашему желанию */
}

.basket-icon__count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red; /* Цвет фона индикатора */
    color: white; /* Цвет текста индикатора */
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px; /* Размер шрифта индикатора */
    font-weight: bold;
    text-align: center;
}

.basket {
    position: relative;
}

/* styles.css */
.register-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.register-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
}

.register-form div {
    margin-bottom: 15px;
}

.register-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.register-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
}

.register-form input:focus {
    border-color: #007bff;
    outline: none;
}

.register-form p {
    color: #e74c3c;
    font-size: 0.875em;
    margin: 5px 0;
}

.register-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1.125em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register-form button:hover {
    background-color: #0056b3;
}




.posts-container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.posts-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.loading, .error {
    text-align: center;
    font-size: 1.5rem;
    color: #f00; /* Цвет для ошибок */
}

.error {
    color: #f00; /* Красный цвет для ошибок */
}

.posts-list {
    list-style-type: none;
    padding: 0;
}

.post-item {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.post-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.post-description {
    font-size: 1rem;
    margin-bottom: 10px;
}

.post-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.posts-box {
    display: flex;
    gap: 30px;
}

.posts-menu {
    display: flex;
    flex-direction: column;
    position: sticky;
    gap: 20px;
    top: 150px;
    bottom: 0;
    height: 100vh;
}

.button-prev {
    position: fixed;
    bottom: 20px; /* Расположите кнопку внизу страницы */
    right: 20px; /* Расположите кнопку справа */
    padding: 10px 20px;
    background-color: #007bff; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none; /* Скрываем кнопку по умолчанию */
    z-index: 1000; /* Убедитесь, что кнопка отображается поверх другого контента */
}

.button-prev.show {
    display: block; /* Показываем кнопку, когда у нее есть класс show */
}

.post-item__actions {
    display: flex;
    gap: 50px;
}

.post-item__delete {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #e74c3c;
}

.post-item__edit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #1e6bff;
}

.post-item__actions-admin {
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
    justify-content: center;
}

.brand-btn {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}

.brand-btn.active {
    background-color: #007bff;
    color: #fff;
}
