* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    font-family: "Roboto Slab", serif;
    font-weight: 600;
    font-style: normal;
}

a {
    text-decoration: none;
    color: black;

}

.error {
    text-align: center;
    margin: 40px 0;
}

.loading {
    font-size: 2rem;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
}

.basket-icon {
    position: relative;
    font-size: 24px; /* Настройте размер иконки по вашему желанию */
}

.basket-icon__count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red; /* Цвет фона индикатора */
    color: white; /* Цвет текста индикатора */
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px; /* Размер шрифта индикатора */
    font-weight: bold;
    text-align: center;
}

.basket {
    position: relative;
}

/* styles.css */






