.navbar {
  background-color: #3498db;
  margin-bottom: 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);


  &__header {
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: #000000;
    padding: 10px 0;
  }

  &__photos {

    padding: 70px 0;
    background-color: #262626;
  }


  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
  }

  &__logo {
    font-size: 30px;
    margin-left: 50px;
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    align-items: center;
  }


  &__link {

    padding: 5px 10px;
    color: #000000;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    line-height: 1.25;
    border: none;
    font-family: "Roboto Slab", serif;
    font-weight: 600;
    background-color: #ffffff;
  }
}

.navbar__link:hover {
  transform: scale(1.1);
  color: #000000;
}

.navbar__link.active {
  background: linear-gradient(45deg, #9b59b6, #3498db);
  color: white;
}