@import '../../../styles/_mixins-media.scss';

.filters {
  width: 30%;
  background-color: #EBEBEB;
  height: 100vh;
  min-width: 290px;

  @include lg {
    width: 100%;
    padding-top: 5px;
    height: 100%;
  }

}

.filters__title {
  border-bottom: 2px solid;
  margin: 20px 25px 20px 25px;
  font-size: 18px;

}

/* category */

.categories {

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-left: 25px;
    margin-top: 10px;
  }

  &__btn {
    border: none;
    font-family: "Roboto Slab", serif;
    font-size: 18px;
    padding: 6px;
    font-weight: 600;
    background-color: #EBEBEB;
    color: black;
  }

  &__btn:hover, {
    background-color: #757373db;
    color: #ffffff;
  }
}

.active {
  background-color: #808080;
  color: white;
}

/* brand */

.brands {

  &__buttons {
    margin-left: 15px;
    margin-right: 15px;
    gap: 5px;
  }

  &__btn {
    background-color: #fff;
    border: 1px solid #ccc;
    font-family: "Roboto Slab", serif;
    font-size: 18px;
    padding: 6px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;

    &:hover, &.active {
      background-color: #757373db;
      color: #ffffff;
    }
  }
}

/* btn reset */

.btn {
  &__filter {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  &__reset {
    padding: 10px 20px;
    border: none;
    background-color: #000000;
    font-family: "Roboto Slab", serif;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-bottom: 30px;

    &:hover {
      background-color: #4b4b4b;
      transform: translateY(-2px);
    }
  }
}

.select__item {
  border-bottom: #121212 solid 1px;
  padding: 7px;
  border-radius: 0;
  color: black;
}