.content {
  margin-top: 40px;
}

.products__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 20px;
  margin-bottom: 50px;
  justify-items: center;
  margin-top: 20px;
}

/* product-item */
.product__items {
  display: grid;
  grid-template-areas:
      "img"
      "ttl"
      "brnd"
      "cat"
      "prc"
      "dsc";
  grid-template-rows: auto 1fr auto  auto auto auto;
  gap: 10px;
  background: #a3a3a338;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  user-select: none;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  }
}

.product_item {

  &__title {
    grid-area: ttl;
    font-weight: bold;
    text-align: center;
    color: #333333;
    font-size: 1.25rem;
  }

  &__brand {
    grid-area: brnd;
    font-weight: bold;
    text-align: center;
    color: #333333;
    font-size: 16px;
  }

  &__description {
    grid-area: dsc;
    color: #666666;
    text-align: center;
  }

  &__category {
    grid-area: cat;
    font-size: 0.9em;
    color: #777777;
    text-align: center;
    font-style: italic;
  }

  &__price {
    grid-area: prc;
    color: #e67e22;
    font-weight: bold;
    text-align: center;
  }

  &__image {
    width: 100%;
    height: 200px;
    grid-area: img;
    object-fit: cover;
  }
}
