@import "../../styles/mixins-media";

.users {

  &__container {
    width: min(100% - 40px, 1340px);
    margin-inline: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    min-height: calc(100vh - 651px);

    @include ul-min {
      min-height: calc(100vh - 593px);
    }

    @include ul {
      min-height: calc(100vh - 609px);
    }

    @include ul-xl {
      min-height: calc(100vh - 564px);
    }

    @include xl {
      min-height: calc(100vh - 593px);
    }

    @include xl-lg {
      min-height: calc(100vh - 547px);
    }

    @include lg {
      min-height: calc(100vh - 465px);
    }

    @include sm {
      min-height: calc(100vh - 437px);
    }

    @include xs {
      min-height: calc(100vh - 427px);
    }

    @include xx {
      min-height: calc(100vh - 407px);
    }
  }

  &__title {
    text-align: center;
    background-color: #000000;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    letter-spacing: 5px;
    margin: 0;

    @include sm {
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 24px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 50px;
  }
}

.user__list {
  display: flex;
  align-items: center;

  @include md {
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
  }

  @include sm {
    background-color: #d1d1d194;
    padding: 15px;
  }
}

.user__items {
  display: grid;
  grid-template-columns: 5% 20% 25% 22% 20%;
  grid-template-rows: 1fr 1fr;
  gap: 0 10px;
  grid-template-areas:
        "id name email password date"
        "id-map name-map email-map password-map date-map";
  align-items: center;
  width: 100%;
  border-bottom: 3px solid #b7b7b7;
  padding-bottom: 10px;

  @include lg {
    grid-template-columns: 5% 20% 25% 22% 20%;
  }

  @include sm {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px 10px;
    grid-template-areas:
        "id id-map"
        "name name-map"
        "email email-map"
        "password password-map"
        "date date-map";
  }
}

.user {

  &__id {
    grid-area: id;
    font-weight: 900;
    font-size: 18px;

    @include md {
      font-size: 16px;
    }

    &_map {
      grid-area: id-map;
      font-size: 18px;

      @include md {
        font-size: 16px;
      }
    }
  }

  &__name {
    grid-area: name;
    font-weight: 900;
    font-size: 18px;

    @include md {
      font-size: 16px;
    }

    &_map {
      grid-area: name-map;
      font-size: 18px;

      @include md {
        font-size: 16px;
      }
    }
  }

  &__email {
    grid-area: email;
    font-weight: 900;
    font-size: 18px;

    @include md {
      font-size: 16px;
    }

    &_map {
      grid-area: email-map;
      font-size: 18px;

      @include md {
        font-size: 16px;
      }
    }
  }

  &__password {
    grid-area: password;
    font-weight: 900;
    font-size: 18px;

    @include md {
      font-size: 16px;
    }

    &_map {
      grid-area: password-map;
      font-size: 18px;

      @include md {
        font-size: 16px;
      }
    }
  }

  &__date {
    grid-area: date;
    font-weight: 900;
    font-size: 18px;

    @include md {
      font-size: 16px;
    }

    &_map {
      grid-area: date-map;
      font-size: 18px;

      @include md {
        font-size: 16px;
      }
    }
  }
}

.btn__group {
  margin-left: 20px;


  &_item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 10px;
    border: none;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #000000;


    &:hover {
      background-color: #646464;
      transform: translateY(-2px);
    }
  }
}

.btn__clear {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px 10px;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #000000;

  &:hover {
    background-color: #646464;
    transform: translateY(-2px);
  }
}

.burger {
  width: 40px;
  height: 24px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  border: none;
  background: none;
  transition: all 0.3s ease;
  top: 65px;
  left: 30px;

  @include xs {
    top: 60px;
  }

  @include xx {
    top: 50px;
  }
}

.burger__line {
  width: 100%;
  height: 3px;
  background-color: #333;
  border-radius: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.burger__line {
  background-color: #000;
}

.height {
  height: calc(100vh - 376px);

  @include xs {
    height: calc(100vh - 371px);
  }

  @include xx {
    height: calc(100vh - 369px);
  }
}